/*body*/
body {
    margin: 0;
    background:  #403066;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*navbar*/
#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #403066;
    position: sticky;
    top: 0;
    padding: .5rem 1rem;
}

.sidespacer {
    width: 85%;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.mr-auto{
    margin-right: auto!important;
}

.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.ninjastudio-logo {
    height: 31px;
    object-fit: contain;
}

.position-relative {
    position: relative!important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.justify-content-between {
    justify-content: space-between!important;
}

.searchWrapper {
    width: 360px;
    color: #f7f5f5;
}

.search {
    height: 40px;
    border: 1px solid rgba(40,47,54,.15);
    padding: 0 15px 0 40px;
    background: #0c0f12;
}

.border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.w-100 {
    width: 100%!important;
}

.d-inline-block {
    display: inline-block!important;
}

[type=search] {
    outline-offset: -2px;
}

input {
    font-size: 16px;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: white;
}

.searchBtn {
    left: 10px;
    top: 9px;
    cursor: pointer;
}

.position-absolute {
    position: absolute!important;
}

.microphone {
    right: 6px;
    top: 9px;  
    cursor: pointer;
}

.notification {
    margin-top: 0;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    padding: 35px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    color: white;
}

.self-image {
    margin-top: 0;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    padding: 5px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.profile-pic {
    margin-left: -30px;
    border-radius: 50%;
    overflow: hidden;
    height: 24px;
    width: 24px;
    vertical-align: inherit;
}

/*Album Cover*/
.album-cover{
    height: 40vh;
    width: 70%;
    padding: 2px 2px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 4px;
    position: absolute;
    display: flex;
    background-color: #403066;
}

/*Latest Release*/
.latest-release {
    height: 30%;
    width: 50%;
    padding: 2px 2px;
    margin-top: 350px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 4px;
    position: absolute;
    display: block;
}

.latest-songs-info {
    height: 60px;
    width: 350px;
    padding: 2px 2px;
    margin: 5px 5px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.latest-songs-imgcontainer {
    height: 50px;
    width: 50px;
    padding: 1px 1px;
    margin-left: 0.25rem;
    margin-top: 0.15rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.latest-songs-albuminfo-container {
    height: 50px;
    width: 250px;
    padding: 1px 1px;
    margin-left: 55px;
    margin-top: -2px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest-songs-img {
    height: 50px;
    width: 50px;
}

.album-time {
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 215px;
}

/*Popular Artist*/
.popular-artist {
    height: 20%;
    width: 70%;
    padding: 2px 2px;
    margin-top: 600px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 2px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artistnameimgcontainer {
    height: 90px;
    width: 100px;
    display: flex; 
    flex-direction: row;
}

.artistimage:hover {
    cursor: pointer;
    opacity: 0.5;
}

.artistimage {
    height: 90px;
    width: 90px;
    border-radius:50%;
    padding: 3px 8px;
}

/*Common*/
.common-font {
    font-size: 20px;
}

.common-font-color {
    color: white;
}

.disabled-link{
    cursor: pointer;      
    text-decoration: none;
}

.zoom {
    padding: 5px 5px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    width: 400px;
    height: 290px;
    vertical-align: middle;
    overflow: hidden;
  }

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.header {
    margin-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.span-font {
    font-size: 15px;
}

/*Media Queries*/
@media screen and (max-width: 600px)
{
    #navbar, .navbar-brand, .navbar-nav {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .search, .notification, .self-image {
    float: none;
    display: block;
    text-align: left;
    width: 50%;
    margin: 0;
    padding:px;
    }

    .self-image {
        margin-left: 20px;
    }

    .profile-pic {
        margin-left: -60%;
    }
}